pipeline/UNTIL.json
{
	"name": "UNTIL",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(\ngreaterOrEquals(variables('IterationCount'),5 ),\nactivity('Get Metadata1').output.exists\n)\n\n\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "emp1csv",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "tempcount",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TempIterationCount",
								"value": {
									"value": "@variables('IterationCount')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "retrycount",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "tempcount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "IterationCount",
								"value": {
									"value": "@add(variables('TempIterationCount'),1)",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"IterationCount": {
				"type": "Integer",
				"defaultValue": 0
			},
			"TempIterationCount": {
				"type": "Integer",
				"defaultValue": 0
			},
			"FinalFilelist": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-11-28T03:19:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}